@font-face {
  font-family: 'IBM Plex Sans Light';
  src: url(../fonts/ibm_plex_sans_ff/IBMPlexSans-Light.ttf);
}

@font-face {
  font-family: 'IBM Plex Sans Medium';
  src: url(../fonts/ibm_plex_sans_ff/IBMPlexSans-Medium.ttf);
}
