html,
body {
  min-width: 350px;
}

main {
  padding-top: 60px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-indent: 0;
}

button {
  display: inline-block;
  margin: 0;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  transition: all 0.3s ease;
}
.overlay.isActive {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.7);
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0 1rem;
  background-color: white;
  z-index: 5;
}
header::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
}
header > nav {
  height: 100%;
}
header > nav > .content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header > nav > .content .headerLinkContainer:hover {
  cursor: pointer;
}
header > nav > .content .headerLinkContainer > span {
  display: inline-flex;
  gap: 1rem;
}
header > nav > .content .headerLinkContainer > span > span {
  display: inline-flex;
  align-items: center;
  width: 20px;
  line-height: 0;
  font-size: 0;
}
header > nav > .content .headerLinkContainer > span > span > img {
  width: 100%;
}
header > nav > .content .hamburger {
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  height: 30px;
  width: 30px;
}
header > nav > .content .hamburger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.3s ease;
}
header > nav > .content .hamburger:hover {
  cursor: pointer;
}
header > nav > .content .hamburger > span {
  display: block;
  background-color: black;
  width: 80%;
  height: 2px;
}
header > nav > .content .hamburger > span:nth-of-type(1) {
  margin-top: 2px;
}
header > nav > .content .hamburger > span:nth-of-type(3) {
  margin-bottom: 2px;
}
header > nav > .content .hamburger.toggledOpen::before {
  opacity: 1;
  transform: scale(1);
}
header > nav > .content .hamburger.toggledOpen span {
  background-color: white;
}
header > nav > .content .hamburger.toggledOpen > span:nth-of-type(1) {
  margin-top: 0;
  transform: translate(0.5px, 11px) rotate(45deg);
}
header > nav > .content .hamburger.toggledOpen > span:nth-of-type(2) {
  display: none;
}
header > nav > .content .hamburger.toggledOpen > span:nth-of-type(3) {
  margin-bottom: 0;
  transform: translate(0.5px, -11px) rotate(-45deg);
}

.appWrapper {
  position: relative;
}

.navMenu {
  position: fixed;
  right: 0;
  z-index: 4;
  transform: translateY(-100%);
  transition: all 0.3s ease;
}
.navMenu.isDisplayed {
  transform: translateY(0);
}
.navMenu > div.menuListContainer ul {
  background-color: white;
  padding-top: 120px;
  padding-bottom: 60px;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.2);
}
.navMenu > div.menuListContainer ul li {
  padding-left: 1rem;
  padding-right: 3rem;
  display: flex;
  align-items: center;
  height: 40px;
  background-color: white;
}
.navMenu > div.menuListContainer ul li > span {
  color: black;
}
.navMenu > div.menuListContainer ul li:hover {
  cursor: pointer;
  background-color: #e8ecff;
}
.navMenu > div.menuListContainer ul li:hover > span {
  color: blue;
}/*# sourceMappingURL=main.css.map */