@mixin generalParagraph {
  p:not(:nth-of-type(1)) {
    padding-top: 1rem;
  }
}

@mixin generalH2 {
  h2 {
    font-size: 25px;
    padding-bottom: 2rem;
    color: $darkBlue;
  }
}

@mixin generalH3 {
  h3 {
    font-size: 20px;
    padding-bottom: 1.25rem;
  }
}

@mixin generalH4 {
  h4 {
    color: #4a4b4d;
    font-size: 18px;
    padding-bottom: 1rem;
  }
}

@mixin generalTable {
  table {
    border-collapse: collapse;

    tr {
      &:nth-of-type(1) {
        background-color: $darkOrange;
      }

      &:nth-of-type(even) {
        background-color: $lightBlue;
      }
      td,
      th {
        padding: 0.25rem 0.5rem;
        border: 1px solid $globalFontColor;
      }
    }
  }
}

@mixin generalQuery {
  div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    span {
      font-family: $globalMainFontFamily;
      display: inline-block;
      color: $darkBlue;
      &:not(:first-child):not(:last-child) {
        padding-left: 1rem;
      }
    }
  }
}

@mixin plainUl {
  ul {
    padding-left: 2rem;
    list-style: disc;
    & li {
      color: $globalFontColor;
      &:not(:nth-of-type(1)) {
        padding-top: 1rem;
      }
      & > span {
        font-family: $globalMainFontFamily;
      }
    }
  }
}
