@mixin generalParagraph {
  p:not(:nth-of-type(1)) {
    padding-top: 1rem;
  }
}

@mixin generalH3 {
  h3 {
    font-size: 20px;
    padding-bottom: 1.5rem;
  }
}

@mixin generalTable {
  table {
    border-collapse: collapse;

    tr {
      &:nth-of-type(1) {
        background-color: $darkOrange;
      }

      &:nth-of-type(even) {
        background-color: $lightBlue;
      }
      td,
      th {
        padding: 0.25rem 0.5rem;
        border: 1px solid $globalFontColor;
      }
    }
  }
}

@mixin generalUnorderedList {
  ul {
    padding-left: 1rem;
    & > li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-bottom: 1rem;

      // Custom list disc
      & > span {
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: $globalFontColor;
        border-radius: 50%;
      }
    }
  }
}
