// Font related (i.e. color, font-family, etc)
$globalHeadingFontFamily: 'IBM Plex Sans Medium', Arial, Helvetica, sans-serif;
$globalMainFontFamily: 'IBM Plex Sans Light', Arial, Helvetica, sans-serif;
$globalFontColor: #1d1e20;

// Colors (i.e. background-color, etc)
$lightBlue: rgba(246, 247, 255, 1);
$midBlue: rgba(230, 234, 255, 1);
$darkBlue: rgba(0, 86, 254, 1);
$darkOrange: #fea700;

// Spacing (i.e. max-width, etc)
$globalMaxWidth: 1200px;
