.createTable {
  @include generalH3;
  @include generalH4;
  @include generalParagraph;

  article {
    &:not(:nth-child(1)) {
      padding-top: 1rem;
    }
  }

  .queryContainer {
    padding-top: 1rem;
    @include generalQuery;
  }

  .tableContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .listContainer {
    padding-top: 1rem;
    @include plainUl;
  }
}
