.createTable {
  @include generalH3;
  @include generalH4;
  @include generalParagraph;

  article {
    &:not(:nth-child(1)) {
      padding-top: 1rem;
    }
  }

  .tableContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include generalTable;
  }
}
