.generalSqlInfo {
  font-family: $globalMainFontFamily;
  // h3 style
  @include generalH3;

  @include generalH4;

  // Paragraph style
  @include generalParagraph;

  article {
    &:not(:nth-child(1)) {
      padding-top: 1rem;
    }
  }

  // ul styles
  @include plainUl;

  span.emphasizedText {
    font-weight: 900;
    font-family: $globalMainFontFamily;
    font-style: italic;
  }

  .tableContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;

    // table styles
    @include generalTable;
  }
}
