.generalSqlInfo {
  font-family: $globalMainFontFamily;
  // h3 style
  @include generalH3;

  // Paragraph style
  @include generalParagraph;

  article {
    &:not(:nth-child(1)) {
      padding-top: 1rem;
    }
  }

  span.emphasizedText {
    font-weight: 900;
    font-family: $globalMainFontFamily;
    font-style: italic;
  }

  .tableContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    h4 {
      color: #4a4b4d;
      font-size: 18px;
      padding-bottom: 1rem;
    }
    // Table style
    @include generalTable;
  }
}
