.wrapper {
  // page wrapper
  & > section {
    // page inner container
    & > div {
      max-width: 900px;
      margin: 0 auto;
      padding: 160px 1.5rem 160px 1.5rem;

      // page heading
      & > div.headingContainer {
        @include generalH2;
      }

      // main content styles
      & > div.mainContentContainer {
        @include generalParagraph;
      }
    }
  }
}
