.tableOfContents {
  @include plainUl;

  ul {
    li {
      &:hover {
        color: $darkBlue;
        span {
          color: $darkBlue;
        }
      }
      span {
        font-family: $globalMainFontFamily;
      }
    }
  }
}
