.navMenuMobile {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s ease;

  &.isDisplayed {
    visibility: visible;
    transform: translateY(0);

    & > div.menuListContainer {
      & > ul {
        opacity: 1;
      }
    }
  }

  & > div.menuListContainer {
    ul {
      opacity: 0;
      background-color: white;
      padding-top: 100px;
      padding-bottom: 60px;
      -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.2);

      li {
        padding-left: 1rem;
        padding-right: 3rem;
        display: flex;
        align-items: center;
        height: 40px;
        background-color: rgb(255, 255, 255);

        & > span {
          color: $globalFontColor;
          font-family: $globalMainFontFamily;
        }

        // On li hover
        &:hover {
          cursor: pointer;
          background-color: $midBlue;

          & > span {
            color: $darkBlue;
          }
        }
      }
    }
  }

  // Larger viewport width styles
  @media screen and (min-width: 800px) {
    position: relative;
    height: 100%;
    visibility: visible;
    transform: translateY(0);
    transition: none;

    & div.menuListContainer {
      height: 100%;

      ul {
        opacity: 1;
        height: 100%;
        display: flex;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 0px;
        box-shadow: none;

        li {
          height: 100%;
          padding: 0 1rem;
        }
      }
    }
  }
}
